.detailContainer {
  padding-top: 24px !important;

  background-color: white;

  width: 100%;
  height: 100%;

  gap: 24px;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  .title {
    width: 100%;
    height: 64px;
    border-radius: 24px;
    border: 2px solid var(--slate900);
    text-decoration: underline;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 16px;
  }

  .doneBackground {
    background-color: var(--violet200);
  }
  .main {
    width: 100%;
    height: 384px;
    gap: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    .imageContainer {
      width: 40%;
      height: 100%;
      background-color: var(--slate50);
      border: 2px dotted var(--slate300);
      border-radius: 24px;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      button {
        width: 64px;
        height: 64px;
        border-radius: 100%;
        background-color: var(--slate200);

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0;
        right: 0;
        margin: 16px;
      }
    }

    .textContainer {
      width: 60%;
      height: 100%;

      padding: 24px;

      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/images/background_memo/big.png");

      @media (min-width: 376px) and (max-width: 745px) {
        background-image: url("/images/background_memo/medium.png");
      }
      @media (max-width: 375px) {
        background-image: url("/images/background_memo/small.png");
      }

      h2 {
        height: 10%;
        color: var(--amber800);
      }

      p {
        height: 90%;
        color: var(--slate800);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .buttonContainer {
    width: 100%;

    display: flex;
    justify-content: end;
    align-items: center;

    gap: 16px;

    button {
      width: 168px;
      height: 56px;
    }

    .modifyButton {
      background-color: var(--slate200);
    }

    .deleteButton {
      background-color: var(--rose500);
      color: white;
    }
  }

  @media (max-width: 744px) {
    width: 100%;

    .main {
      flex-direction: column;
      gap: 24px;

      .imageContainer {
        width: 100%;
      }

      .textContainer {
        width: 100%;
      }
    }

    .buttonContainer {
      justify-content: center;
    }
  }
  @media (min-width: 745px) {
    padding: 0 102px;
  }
}
